<main class="main-select-map">
    <section class="section-select">
        <div class="select-type">
            <h2>Qual serviço de saúde você está buscando?</h2>
            <div class="input-checkbox-map">
                <input type="checkbox" name="postos-de-saude" id="">
                <input type="checkbox" name="hospitais" id="">
                <input type="checkbox" name="laboratorios" id="">
                <input type="checkbox" name="clinicas" id="">

            </div>
            <div class="select-map">
                <h2>Serviços disponíveis</h2>
                <div class="button-map">
                    <button></button>
                    <button></button>
                    <button></button>
                </div>
            </div>
        </div>
       
    </section>
</main>