<main class="main-select-map">
    <section class="section-select">
        <div class="select-type">
            <h2>Qual serviço de saúde você está buscando?</h2>
            <div class="input-checkbox-map">
                <div class="input-check-left">
                   <input type="checkbox" name="hospitais" id="">  <label for="">Hospitais</label>
               <input type="checkbox" name="postos-de-saude" id="">  <label for="">Postos de Saúde</label>
                </div>
                <div class="input-check-right">
                    <input type="checkbox" name="hospitais" id="">  <label for="">Hospitais</label>
                 <input type="checkbox" name="postos-de-saude" id=""> <label for="">Postos de Saúde</label>
                 </div>
               

            </div>
            <div class="select-map">
                <h2>Serviços disponíveis</h2>
                <div class="button-map">
                    <button>PSF Maratoãn</button>
                    <button>UBS - Venancios</button>
                    <button>Hospital São Lucas</button>
                    <button>Laboratorio ITA</button>
                </div>
            </div>
        </div>
       
    </section>
</main>